
</div>

    <!-- Footer -->

    <footer >

  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fab fa-whatsapp"></i>
    <i class="social-icon fas fa-home"></i>
      <p>© Copyright 2021 101 Men Fashion</p>

    </footer>


<!-- jqury -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- bootstarp animation -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="./index.js" charset="utf-8"></script>
<div class="">

</div>
</body>
</html>
