


    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" href="/">  101 Man-Fashion </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>



            <div class="collapse navbar-collapse " id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">


              <li class="nav-item ">
                <a class="nav-link" href=""><i class="fas fa-phone-volume navbar-icon-rotate"></i> 052-6665885</a>
              </li>
              <li class="nav-item-icon">
                <a class="nav-link" href="https://www.instagram.com/101mensfashionisrael/">  <img src="/images/instagram.png" alt="iconinstagram" class="contact-icon nav-icon-padding" onclick=""></a>
              </li>
              <li class="nav-item-icon ">
                  <a class="nav-link" href="https://www.facebook.com/101Mens/">  <img src="/images/Facebook.png" alt="iconfacebook" class="contact-icon nav-icon-padding" href=""></a>
                </li>
                 <li class="nav-item-icon ">
                    <a class="nav-link" href="">  <img src="/images/whatsapp.png" alt="iconwhatsapp" class="contact-icon nav-icon-padding"></a>
                  </li>
                        </ul>

  <ul class="navbar-nav ms-auto ">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        קולקציות
      </a>
      <ul class="dropdown-menu dropdown-menu-dark bg-dark navbar2 " aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item  nav-link" href="#catalog-W-S">קולקצית קיץ</a></li>
        <li><a class="dropdown-item nav-link" href="#catalog-W-S">קולקצית חורף</a></li>

      </ul>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#catalog-W-S">הנעלה</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#catalog-W-S">אביזרים</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link" href="#halifot"> חליפות חתן</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#halifot-business">חליפות עסקים</a>
    </li>

  </ul>
</div>




    </nav>




    <!-- Title-->
